In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.offline as po
import os

This notebook contains exploration of all the raw data and will conclude with proposals for data transformations and wrangling.

In [2]:
df = pd.read_csv('_raw/case1Data.txt')

In [13]:
# NA values are by default strings, since there is a space in front
df = df.replace(' NaN', np.nan)

In [19]:
# only 4 out of 100 cols are complete.
# the rest contain NA's and require a decision on what to do
df.loc[:,df.isna().sum(axis=0) == 0].columns

Index(['y', ' C_ 2', ' C_ 3', ' C_ 4', ' C_ 5'], dtype='object')

In [23]:
# isolate targets from the design matrix
y = df['y']
X = df.iloc[:,1::]

In [28]:
# for convenience, fix the column naming
# with no spaces

X.columns = [name.replace(' ', '') for name in X.columns]
X.head()

,x_1,x_2,x_3,x_4,x_5,x_6,x_7,x_8,x_9,x_10,...,x_91,x_92,x_93,x_94,x_95,C_1,C_2,C_3,C_4,C_5
0,NaN,NaN,-3.978178,-1.504027,-14.986790,0.651581,-37.878245,16.213807,-3.965437,NaN,...,-7.032047,6.319109,NaN,26.197445,-9.913837,H,H,I,K,J
1,26.204958,11.185962,-8.247602,-3.875866,-11.329702,2.637900,-39.617497,NaN,-2.442164,10.303557,...,-13.437474,NaN,-12.880342,25.924603,-7.015803,K,H,J,G,G
2,18.560873,11.355342,-9.370161,-3.745315,-16.292421,-1.831774,-37.584605,14.411348,-2.376175,12.057741,...,-12.291624,2.664209,-15.803518,24.293073,-14.795709,I,H,G,H,G
3,31.896496,10.069040,-9.484426,-1.512786,-11.421909,-5.649180,-42.830037,18.403197,-7.791762,7.182760,...,-13.253436,5.004891,-13.879328,25.954304,-9.365574,NaN,H,K,K,G
4,25.400286,NaN,-3.600959,-2.615988,-15.455676,-4.950816,-39.932456,NaN,-7.341165,9.933879,...,NaN,5.101262,-16.938532,22.611184,-17.240003,G,H,H,K,H

In [ ]:
# what to do about the NA's?