In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('HR_data.csv')
df.head()

,Unnamed: 0,HR_TD_Mean,HR_TD_Median,HR_TD_std,HR_TD_Min,HR_TD_Max,HR_TD_AUC,HR_TD_Kurtosis,HR_TD_Skew,HR_TD_Slope_min,...,upset,hostile,alert,ashamed,inspired,nervous,attentive,afraid,active,determined
0,0,78.663878,76.70,7.480043,67.25,92.48,23048.450,-1.091448,0.369955,-0.7300,...,1.0,1.0,2.0,1.0,2.0,2.0,3.0,1.0,2.0,2.0
1,1,76.540732,76.61,2.584756,69.82,82.33,23959.920,-0.245338,0.338732,-0.3600,...,2.0,1.0,3.0,2.0,2.0,2.0,3.0,1.0,3.0,3.0
2,2,78.173563,77.92,2.681255,72.22,82.80,20324.605,-0.615922,-0.233047,-0.6300,...,1.0,1.0,2.0,1.0,3.0,2.0,3.0,2.0,3.0,3.0
3,3,83.073688,83.88,7.363598,69.42,96.12,24924.300,-0.866610,-0.046021,-0.4650,...,1.0,1.0,2.0,1.0,3.0,2.0,3.0,2.0,3.0,3.0
4,4,72.281250,72.91,3.193762,64.95,79.98,23052.100,0.200401,-0.560948,-0.3725,...,3.0,1.0,3.0,2.0,3.0,3.0,4.0,2.0,4.0,4.0

In [3]:
df.describe()

,Unnamed: 0,HR_TD_Mean,HR_TD_Median,HR_TD_std,HR_TD_Min,HR_TD_Max,HR_TD_AUC,HR_TD_Kurtosis,HR_TD_Skew,HR_TD_Slope_min,...,upset,hostile,alert,ashamed,inspired,nervous,attentive,afraid,active,determined
count,312.000000,312.000000,312.000000,312.000000,312.000000,312.000000,312.000000,312.000000,312.000000,312.000000,...,312.000000,312.000000,312.000000,312.000000,310.000000,312.000000,311.000000,311.000000,311.000000,310.000000
mean,155.500000,78.549974,77.452869,6.545680,68.778365,92.451122,24307.558590,-0.054661,0.375978,-0.567952,...,1.346154,1.057692,2.192308,1.221154,2.183871,1.381410,2.784566,1.051447,2.553055,2.912903
std,90.210864,11.382695,12.093798,4.998885,9.341107,17.759683,4035.278119,1.671170,0.823875,0.391239,...,0.617576,0.271719,1.037034,0.549014,1.027958,0.577199,1.113793,0.273430,1.173463,1.104050
min,0.000000,57.606118,54.130000,0.834390,49.000000,67.200000,14853.260000,-1.644825,-2.230501,-3.366000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,77.750000,71.061238,69.971250,3.160342,62.192500,80.207500,21549.048750,-0.984473,-0.151022,-0.665208,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,2.000000
50%,155.500000,76.784284,75.600000,4.919862,67.565000,87.830000,23650.430000,-0.456978,0.361195,-0.457500,...,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,3.000000,1.000000,2.000000,3.000000
75%,233.250000,83.566296,83.108750,8.006694,73.805000,99.452500,26543.927500,0.216412,0.988498,-0.317500,...,2.000000,1.000000,3.000000,1.000000,3.000000,2.000000,4.000000,1.000000,3.000000,4.000000
max,311.000000,151.942434,167.950000,32.155396,111.070000,172.470000,46069.990000,12.510032,3.225347,-0.112500,...,4.000000,3.000000,5.000000,4.000000,5.000000,3.000000,5.000000,4.000000,5.000000,5.000000